@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --lighting-color: #0089b7;
    --dark-color: #003d62;
    --darker-color: #003251;
    --secondary-color: #fff700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    /* color: #fff; */
}

section {
    scroll-margin: 4.1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
}

.sidenav ul a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

nav ul {
    display: flex;
    gap: 1rem;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--lighting-color);
}

#hero {
    background-color: var(--dark-color);
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.hero_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1300px;
    gap: 13rem;

}

.hero_span {
    color: var(--secondary-color);
    font-size: 3rem;
}

.hero_content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

h1 {
    font-size: 2.7rem;
    color: #fff;

    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid var(--secondary-color);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    /* Adjust as needed */
    animation: typing 3s steps(20, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }

}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--secondary-color);
    }
}

/* first section */

#hero {
    border-bottom: 4px solid var(--lighting-color);

}

.main_card {
    padding-bottom: 6rem;
}

#project {
    background-color: var(--darker-color);

}


.manycards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 5rem;
    place-items: center;

}

.project_content h3 {
    font-size: 1.2rem;
    text-align: center;
}

.card_layout {
    max-width: 320px;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.card_layout:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

.card img {
    transition: 0.5s ease-in-out;
    border-radius: 0.5rem;
}


.card img:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    border-radius: 0.5rem;
    opacity: 0.8;
}

.card_layout {
    display: grid;
    place-items: center;
}

#project h4 {
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
}

.card:hover .project_content {
    color: var(--darker-color);
    background: #fff;
    transform: translateY(0px)
}

.project_content {
    padding: 2rem;
    top: -5.7rem;
    margin-bottom: -6.1rem;
    transition: 0.5s ease-in-out;
    position: relative;
    transform: translateY(100px)
}

#contact {
    background-color: var(--dark-color);
    color: #fff;
    height: 93vh;
}

.last_section {
    display: grid;
    justify-content: center;
    padding-top: 12rem;
    flex-direction: column;


}

.last_para p {
    font-size: 6rem;
    font-weight: 600;
    padding: 2rem;
}

.last_a {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
}

.last_a a {
    color: #fff;
    text-decoration: none;
    font-weight: 600
}

.last_contact {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1.5rem;
    font-weight: 600;
}

.last_contact a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

.fa-brands {
    font-size: 2rem;
    padding-right: 1rem;
}

.fa-solid {
    font-size: 2rem;
    padding-right: 1rem;
}

.combined_section {
    display: grid;
    justify-content: center;
    align-items: center;

}

footer {
    background-color: var(--darker-color);
    color: #fff;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media qurey */

@media (max-width:786px) {
    html {
        font-size: 60%;
    }

    .last_section {

        padding-top: 22rem;
    }

    #hero .hero_container {
        flex-direction: column;
        gap: 2rem;

    }

    .hero_container img {
        display: grid;
        place-items: center;
        max-width: 33rem;
    }

    .sidenav ul a {
        list-style: none;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
    }

    nav ul {
        display: flex;
        gap: 1.5rem;
    }
}

@media (max-width:645px) {
    /* html {
        font-size: 40%;
    } */

    #hero .hero_container {
        flex-direction: column;
        gap: 2rem;

    }

    .hero_container img {
        display: grid;
        place-items: center;
        max-width: 33rem;
    }

    .last_para p {
        font-size: 5rem;

    }

    .last_section {

        padding-top: 22rem;
    }

    .sidenav ul a {
        list-style: none;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
    }

    nav ul {
        display: flex;
        gap: 1.5rem;
    }
}

@media (max-width:500px) {
    /* html {
        font-size: 40%;
    } */

    #hero .hero_container {
        flex-direction: column;
        gap: 2rem;

    }

    .hero_container img {
        display: grid;
        place-items: center;
        max-width: 33rem;
    }

    .last_para p {
        font-size: 4rem;

    }

    .last_section {

        padding-top: 22rem;
    }

    .last_contact a {
        color: #fff;
        text-decoration: none;
        font-size: 1.6rem;
    }

    .last_a {
        display: flex;
        justify-content: center;
        gap: 2rem;
        font-size: 1.6rem;
    }

    .sidenav ul a {
        list-style: none;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
    }

    nav ul {
        display: flex;
        gap: 1.5rem;
    }
}

@media (max-width:432px) {
    /* html {
        font-size: 40%;
    } */

    #hero .hero_container {
        flex-direction: column;
        gap: 2rem;

    }

    .hero_container img {
        display: grid;
        place-items: center;
        max-width: 33rem;
    }

    .last_para p {
        font-size: 3rem;

    }

    .last_section {

        padding-top: 22rem;
    }

    .last_contact a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .last_a {
        display: flex;
        justify-content: center;
        gap: 2rem;
        font-size: 1.2rem;
    }

    .sidenav ul a {
        list-style: none;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
    }

    nav ul {
        display: flex;
        gap: 1.5rem;
    }
}