* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.applybox {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    margin-top: 50px;
    padding: 20px;
}

.web {
    font-size: 15px;
}

.form_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control {
    display: grid;
    flex-direction: column;

}

label {
    font-size: 20px;
    padding-bottom: 10px;
}

input,
select,
textarea {
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 10px;

}