* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.applybox {
    max-width: 600px;
    background-color: white;
    padding: 20px;
    margin: 0px auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

.title_small {
    font-size: 20px;
}


.form_container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}


.form_control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
}

input,
select,
textarea {
    border-radius: 3px;
    padding: 7px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

input:focus {
    outline: red;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;

}

.Textareacontrol {
    grid-column: 1 / span 2;
}

.Textareacontrol Textarea {
    width: 100%;
}

@media (max-width: 460px) {
    .Textareacontrol {
        grid-column: 1 / span 2;
    }
}