@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 16px;

}

button {
    padding: 10px;
    border: none;
    transition: 0.3 ease-in-out;
}

button:hover {
    transition: 0.3 ease-in-out;
    opacity: 0.8;
}

/* Navigation */

nav {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
    position: sticky;
    top: 0;
    margin-bottom: 32PX;
    background-color: white;
    padding: 3PX;
    z-index: 50;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.baricon {
    font-size: 32px;
}

.sectionone {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0px 80px 0px 80px;
}

.hero {
    margin-left: 10%;

}

.tag {
    background-color: green;
    color: white;
    padding: 8px;
    position: absolute;
    border-radius: 5px;
}

H1 {
    margin-top: 60PX;
    font-size: 90px;
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: flex-start;
}

.hero_content p {
    margin-top: 10px;
}

.explore_btn {
    margin-top: 30px;
    background-color: orangered;
    color: white;
    padding: 10px;
    border: none;
    align-self: flex-start;
}

.features {
    display: flex;
    justify-content: space-around;
    /* margin-top: 10%; */
    padding: 120px;
}

.feature {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.feature img {
    width: 72px;
}

.feature:hover {
    transition: 0.3 ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
}

.divider {
    border: 1px solid #ccc;
    width: 80%;
    margin-left: 10%;
}

.menu {
    display: flex;
    margin-bottom: 50px;
    align-self: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    /* position: absolute; */
}

.menu .tag {
    align-self: center;
    margin-top: 40px;
}

.grid {
    display: grid;
    padding: 20px;
    padding-top: 50px;
    gap: 10px;
    grid-template-areas:

        "I1 I1 I2 I3"
        "I1 I1 I2 I7"
        "I4 I5 I6 I7"

    ;
}

.item1 {
    grid-area: I1;
}

.item2 {
    grid-area: I2;
}

.item3 {
    grid-area: I3;
}

.item4 {
    grid-area: I4;
}

.item5 {
    grid-area: I5;

}

.item6 {
    grid-area: I6;
}

.item7 {
    grid-area: I7;
}

.grid_image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: 0.2 ease-in-out;
}

.grid_image:hover {
    border-radius: 10px;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

footer {
    background-color: #fed9c9;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    min-height: 250px;
    align-items: center;


}

.link_lists {
    font-size: 16px;
}

.link_lists ul li {
    list-style: none;
}

h4 {
    padding-bottom: 15px;
    font-size: 22px;

}

.search {
    margin-top: 60px;
}

.icon i {
    font-size: 32px;
    padding-right: 10px;
}

#email {
    padding: 10px;
    border: none;

}

.social {
    align-items: center;
}

.social h4 {
    margin-top: 15px;
}

@media (max-width: 800px) {
    .sectionone {
        flex-direction: column;
        padding: unset;
    }

    .hero_image {
        display: flex;
        justify-content: center;
    }

    .hero_image img {
        width: 80%;
    }

    .hero_content {
        gap: 5px;
        padding: 10px;
    }

    .hero_content h1 {
        font-size: 32px;

    }

    .features {
        flex-direction: column;
    }

    .feature {
        flex-direction: column;
    }

    .grid_image {
        border-radius: 0px;
    }

    .footer_container {
        flex-direction: column;
        gap: 20px;
    }

    .footer_container {
        margin-left: 20px;
        /* flex-direction: column; */
        align-items: flex-start;
    }

}